.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
!src/res/
!src/res/favicon_128.png
!src/webapp/
!src/webapp/**
scripts/**
.gitignore
.gitattributes
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
copilot-share-*.vsix
package-lock.json
VerificationLog_*/**
VerificationLog_*.zip
