.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
!src/res/icon_green_background_128.png
src/res/__pycache__/**
**/__pycache__/**
!src/webapp/
!src/webapp/**
src/webapp/README.md
scripts/**
.gitignore
.gitattributes
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
copilot-share-*.vsix
package-lock.json
VerificationLog_*/**
VerificationLog_*.zip
